<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="zhixing_uiq" frontName="zhixing_uiq">
            <module name="Zhixing_UnionPayInstallmentsQrcode"/>
        </route>
    </router>
</config>
